/* default browser styles reset:basic */
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}
/* root styles for the webpage */
:root{
  --mainBlack:#111216;
  --secondBlack:#24262c;
  --thirdBlack:#9a9ca1b1;
  --darkRed:#BA2330;
  --lightRed:#FB1412;
  --choclate:#502C32;
  --lilac:#DEB2B8;
  --brown:#D88B49;
  --main-border-radius:20px;
  --second-border-radius:4px;
  --main-yellow:#f9d54f;
  --main-grey:#555860;
  --main-white:#fff;
  --main-red:#fd435b;
  --container-black:#40424a;
  --container-lilac:#ffbbc4;
  --mainTransition:all 0.2s ease-in;
   --mainBlue: #72ADC0;
  --mainWhite:#fff;
  --mainTransition:all 0.5s linear;
  --mainSpacing:0.1rem;
  --mainBlack:#2C2C2C;
  --mainGrey:#ececec;
  --mainRed: #DC2E27;
  --mainDarkBlue:#004777;
  /* --box-shadow:0 0 20px 0 rgba(46,61,73,.15); */
  --box-shadow:0 0 20px 0 var(--mainBlack);
  --form-bcg:#0d13aa;
  --sec-form-bcg:#0956fe;
  --thir-form-bcg:#49a6ff;
  --fou-form-bcg:#338dfc;
  --fiv-form-bcg:#020de1;
}
/* ============ */
body{
  background-color: var(--mainBlue);
  background:url(./assets/bcg-image.webp) repeat;
}
/* styles for main wrapper */
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
  /* background-color: var(--mainBlue); */
}
.wrapper h2{
  margin:10px 0;
  color: var(--main-white);
  text-transform: uppercase;
  font-size: 1em;
}
/* styles for form */
form{
  display: flex;
  flex-direction: column;
  align-items:center;
  color:var(--main-white);
  background-color: var(--mainBlack);
  background-color: var(--sec-form-bcg);
  border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -ms-border-radius: var(--main-border-radius);
  -o-border-radius: var(--main-border-radius);
  box-shadow: var(--box-shadow);
}
form h4{
  margin:5px 0;
}
form input{
  background-color: var(--mainGrey);
  color:var(--mainDarkBlue);
}
form .icon{
  color:var(--main-yellow);
}
.name-username-container{
  display: flex;
  justify-content: space-around;
  width:90%;
  margin:5px 0;
}
.input-name-username-email-container{
  height:40px;
  display:flex;
  align-items: center;
  position: relative;
  margin:0 10px;
  width:100%;
  border-radius: var(--second-border-radius);
  -webkit-border-radius: var(--second-border-radius);
  -moz-border-radius: var(--second-border-radius);
  -ms-border-radius: var(--second-border-radius);
  -o-border-radius: var(--second-border-radius);
}
.fullname-icon,.username-icon,.email-icon{
  position: absolute;
  left:5px;
}
.input-name-username-email-container input{
  height:100%;
  width:100%;
  text-indent: 30px;
  line-height: 10px;
  outline: none;
  border:none;
  font-family: 'Poppins', sans-serif;
  border-radius: var(--second-border-radius);
  -webkit-border-radius: var(--second-border-radius);
  -moz-border-radius: var(--second-border-radius);
  -ms-border-radius: var(--second-border-radius);
  -o-border-radius: var(--second-border-radius);
}

.email-container{
  display:flex;
  width:90%;
justify-content: flex-start;
}
.dob-gender-input-container{
  width:90%;
  padding:0px 10px;
}
/* dob */
.dob-input-container h4{
  margin:5px 0;
  text-align: center;
}
.dob-input-container > input{
  height:40px;
  text-indent: 10px;
  outline: none;
  border:none;
  margin:5px 0;
  border-radius: var(--second-border-radius);
  -webkit-border-radius: var(--second-border-radius);
  -moz-border-radius: var(--second-border-radius);
  -ms-border-radius: var(--second-border-radius);
  -o-border-radius: var(--second-border-radius);
}
/* gender-input-container */
.gender-input-container{
  margin:5px 0;
}
/* payment details container */
.payment-details-container{
  width:90%;
  padding: 0 5px;
}
/*  heading-credit-paypal-container */
.heading-credit-paypal-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-credit-paypal-container h4{
  text-align: center;
  margin:5px 0;
}
.card-type-container{
  display: flex;
  width:70%;
  justify-content: space-around;
}
/* card number container */
.card-number-container{
  width:90%;
  margin:10px 0;
  height:40px;
  padding:0 5px;
}
.card-input-container{
  height:100%;
  width:100%;
  display: flex;
  align-items: center;
  position: relative;
}
.card-number-icon{
  position: absolute;
  top:10px;
  left: 5px;
}
.card-input-container input{
  height:100%;
  width:100%;
  text-indent: 30px;
  outline: none;
  border:none;
  border-radius: var(--second-border-radius);
  -webkit-border-radius: var(--second-border-radius);
  -moz-border-radius: var(--second-border-radius);
  -ms-border-radius: var(--second-border-radius);
  -o-border-radius: var(--second-border-radius);
}
/* card cvc-expiry date container */
.card-cvc-expiry-date-container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 90%;
  /* margin-bottom: 40px; */
}
.card-cvc-container{
  width:20%;
  height:40px;
  position: relative;
}
.cvc-icon{
  position: absolute;
  left:5px;
  top:10px;
}
.card-cvc-container input{
  height:100%;
  width:100%;
  text-indent: 30px;
  outline: none;
  border:none;
  border-radius: var(--second-border-radius);
  -webkit-border-radius: var(--second-border-radius);
  -moz-border-radius: var(--second-border-radius);
  -ms-border-radius: var(--second-border-radius);
  -o-border-radius: var(--second-border-radius);
}
.card-expiry-date-container{
  width:50%;
  margin:0 10px;
  height:40px;
  display: flex;
}
.card-expiry-date-container select{
  width: 50%;
  height: 100%;
  margin-right: 10px;
}
.card-expiry-date-container option{
  width: 100%;
}
/* pay now btn container */
.pay-now-btn-main-container{
  width:100%;
  margin-top:15px;
  height: 10vh;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--main-border-radius);
  border-bottom-right-radius: var(--main-border-radius);
}
.pay-now-btn-container{
  width:100%;
  height: 100%;
   border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--main-border-radius);
  border-bottom-right-radius: var(--main-border-radius);
}
.pay-btn{
  height:100%;
  width: 100%;
  border:none;
  background-color: var(--main-red);
  cursor: pointer;
  color:var(--main-yellow);
  letter-spacing: 3;
  text-transform: uppercase;
  font-weight:900;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--main-border-radius);
  border-bottom-right-radius: var(--main-border-radius);
  transition: var(--mainTransition);
  -webkit-transition: var(--mainTransition);
  -moz-transition: var(--mainTransition);
  -ms-transition: var(--mainTransition);
  -o-transition: var(--mainTransition);
}
.pay-btn:hover{
  background-color:var(--main-yellow);
  color:var(--main-white);
}


 /*end of styles for main wrapper  */