/* default browser styles reset:basic */
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
/* root styles for the webpage */
:root{
  --mainBlack:#111216;
  --secondBlack:#24262c;
  --thirdBlack:#9a9ca1b1;
  --darkRed:#BA2330;
  --lightRed:#FB1412;
  --choclate:#502C32;
  --lilac:#DEB2B8;
  --brown:#D88B49;
  --main-border-radius:20px;
  --main-yellow:#f9d54f;
  --main-grey:#555860;
  --main-white:#fff;
  --main-red:#fd435b;
  --container-black:#40424a;
  --container-lilac:#ffbbc4;
  --mainTransition:all 0.2s ease-in;
   --mainBlue: #72ADC0;
  --mainWhite:#fff;
  --mainTransition:all 0.5s linear;
  --mainSpacing:0.1rem;
  --mainBlack:#2C2C2C;
  --mainGrey:#ececec;
  --mainRed: #DC2E27;
  --mainDarkBlue:#004777;
}
/* ============ */
/* styles for main container */
.main-container{
  background-color: var(--container-lilac);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container-center{
  background-color: var(--container-black);
  width:90%;
  height:90%;
  display: flex;
  flex-direction: column;
  border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -ms-border-radius: var(--main-border-radius);
  -o-border-radius: var(--main-border-radius);
}
.main-heading{
  text-align: center;
  margin:10px 0;
  color:var(--main-white);
}
.cards-and-form-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 30px;
  height: 80%;
}
/* styles for cards images container */
.card-image-container{
  border:1px solid blanchedalmond;
}
/* styles for cards */
.card{
  border:1px solid gold;
}
/* end of styles for cards */
/* styles for form */
.form{
  background-color: var(--main-grey);
  color:var(--main-white);
  border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -ms-border-radius: var(--main-border-radius);
  -o-border-radius: var(--main-border-radius);
}
.form-heading{
  text-align: center;
  margin:10px 0;
}
.payment-amount{
  margin:10px 0;
  display: flex;
  justify-content: space-around;
}
.amount{
  margin:0 10px;
}
.card-details{
  margin:10px 0;
}
/* .input-container{
  position:relative;
  border:1px solid gold;
  width:90%;
  height:50px;
} */
/* .input-field{
  width:100%;
  height: 100%;
  outline:none;
  border:none;
  background-color: transparent;
  cursor: text;
  text-indent: 20px;
} */
/* .name-icon{
  position: absolute;
  top:16px;
  left:0;
} */
  .input-container{
    width:80%;
    position:relative;
    height:50px;
    overflow:hidden;
    margin:10px auto;
    border:1px solid goldenrod;
  }
  .input-container input{
    width:80%;
    height:100%;
    color:orange;
    font-size: 1rem;
    letter-spacing: var(--mainSpacing);
    padding-top:20px;
    border:none;
    outline:none;
    background:none;
  }
  .input-container label{
    position: absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:100%;
    pointer-events: none;
    border-bottom:1px solid;
  }
  .input-container label::after{
    content:"";
    position:absolute;
    left:0px;
    bottom:-2px;
    height:100%;
    width:100%;
    border-bottom:5px solid var(--mainWhite);
    transform:translateX(-100%);
    transition:var(--mainTransition);
  }
  .content-name{
    position: absolute;
    bottom:5px;
    left:0px;
    transition:var(--mainTransition);
  }
  .input-container input:focus + .email-label .content-name,
  .input-container input:valid + .email-label .content-name{
    transform:translateY(-150%);
    font-size:14px;
    color:var(--mainWhite);
  }
  .input-container input:focus + .email-label::after, .input-container input:valid + .email-label::after{
    transform:translateX(0%);
  }
  .input-container input:focus + label{
    border:none;
  }
/* end of styles for form  */
/* end of styles for main container */